*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    border: 1px solid black;
    width: 384px;
    margin-left: 2px;
    background-color: black;
}
#menu_1 li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
#menu_1 li a{
    text-decoration: none;
    color: white;
}
#menu_1 li a:hover{
    color: #FFD700;
    font-size: 15px;
}
